.gear {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
}

.pill {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;


}

.maincontent {
    text-align: center;
    margin-top: 80px;
    font-size: larger;
}

.logo {
    color: rgb(96, 166, 240);
}

.lens {
    position: relative;
    left: 40px;
}




input {
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    border-color: rgb(96, 166, 240);
    box-shadow: 10px 18px 30px rgba(96, 166, 240, 0.2);
    /* height: 200px; */



}