h1{
    color: red;
}
#heading2{
    color: blue;
}
.heading{
    color: green;
}

.paragraph{ padding: 20px;
    border: 2px solid black;
}
.navbar {
    background-color: rgb(210, 98, 98);
    padding: 10px;
    text-align: center; 
    border: 2px solid black;}

.navbar a {
    color: rgb(34, 118, 149);
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px; 
    font-size: 18px;
}

.navbar a:hover {
    background-color: rgb(34, 118, 149);
    color: rgb(41, 138, 165); 
    text-decoration: underline;
    border-radius: 5px; 
}

body {
    margin: 0;
}
.card {
    width: 500px;
    height: 500px; 
    border: 1px solid #ccc;
    border-radius: 0; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 0; 
    margin-bottom: 10px;
}
.card button {
    padding: 40px 15px;
    background-color: rgb(34, 118, 149);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background-color: rgb(41, 138, 165);
    margin-top: 0px;
}
